<div>
    <hr>
    <pre><span>Latest fetched <span class="text-important">metadata</span>:</span></pre>
    <pre><span class="text-description">Unix-like web application with <u>questionable functionality</u></span></pre>
</div>