<div class="mt-3">
    <pre><span>Fetching last recorded <span class="text-important">metadata</span> ...</span></pre>
    <pre><span class="text-description">Unix-like web application with <u>questionable functionality</u></span></pre>
</div>