<div class="mt-3">
    <pre><span>Parsing accessable <span class="text-command">commands</span> ...</span></pre>
    <pre class="mt-3">.............................................................
: Application                                               :
.............................................................
    </pre>
    <pre><span class="text-command">help</span>    ->   <span class="text-description">Obviously you already know what that does</span></pre>
    <pre><span class="text-command">about</span>   ->   <span class="text-description">Brief description of the application</span></pre>
    <pre><span class="text-command">clear</span>   ->   <span class="text-description">Clears the terminal screen</span></pre>
    <pre><span class="text-command">cd</span>      ->   <span class="text-description">Change directory / endpoint</span></pre>
    <pre><span class="text-command">ls</span>      ->   <span class="text-description">List directiories / endpoints</span></pre>

    <pre class="mt-3">.............................................................
: Math Module                                               :
.............................................................
    </pre>
    <pre><span class="text-command">probability</span>   ->   <span class="text-description">Basic probability calculations</span></pre>
    <pre>   -> <span class="text-command">add      {a} {b}</span> <span class="text-comment"> // Probabilities summarizing</span></pre>
    <pre>   -> <span class="text-command">multiply {a} {b}</span> <span class="text-comment"> // Probabilities multiplications</span></pre>
    <pre>   -> <span class="text-command">full     {conditional} and {prior}</span> <span class="text-comment"> // Single event out of all outcomes</span></pre>
    <pre>   -> <span class="text-command">single   {..args}</span> <span class="text-comment"> // At least one event occurance</span></pre>
    <pre>   -> <span class="text-command">bayes    {a} {b} {b|a}</span> <span class="text-comment">// Bayes' theorem</span></pre>
</div>