<div>
    <br>
    <pre><span>Available <span class="text-command">commands</span>:</span></pre>
    <br>
    <pre><span class="text-command">help</span>    ->   <span class="text-description">Obviously you already know what that does</span></pre>
    <pre><span class="text-command">about</span>   ->   <span class="text-description">Brief description of the application</span></pre>
    <pre><span class="text-command">clear</span>   ->   <span class="text-description">Clears the terminal screen</span></pre>
</div>