{% extends 'index.html.twig' %}

{% block content %}
  <div id="initial_message">
    <strong>
    <pre class="text-important">
                    .
                   / \
                  /   \
                 /     \
                /.      \
               ,_ `.     \
              /   ``-     .              <span class="text-description">Welcome to unix-based web terminal.</span>
             /             `             <span class="text-description">For a list of available commands, type <span class="text-command">'help'</span></span>
            /               `.
          .`      ."`".       \
         .       '     \       \
        /        \      ;     -.\
       /        .'     /._     `".
      /   .-"`             `"-.   `.
    .`.-`                       `-._\
    `                               `</pre>
    </strong>
  </div>

  {% block output %}{% endblock %}
{% endblock %}