{% extends 'index.html.twig' %}

{% block content %}
  <div id="initial_message">
    <pre class="text-important small fw-bold">
                    .
                   / \
                  /   \
                 /     \
                /.      \
               ,_ `.     \
              /   ``-     .              <span class="text-description">Welcome to unix-based web terminal.</span>
             /             `             <span class="text-description">For a list of available commands, type <span class="text-command">'help'</span></span>
            /               `.
          .`                  \
         .        .'''.        \         <span class="text-description">Developer <a class="arrow arrow-right" href="https://github.com/aASDa213ASD">aASDa213ASD</a></span>
        /        ;     ;      -.\
       /       _.'     '._      `".
      /   .-"`             `"-.   `.
     /_.-`                     `-._\
    </pre>
  </div>

  {% block output %}{% endblock %}
{% endblock %}