.text-default {
    color: #519975;
}

.text-description {
    color: #B89076;
    text-shadow: 0 0 0px; 
}

.text-comment {
    color: #909090;
    text-shadow: 0 0 0px; 
}

.text-special {
    color:#c44b4b
}

.text-important {
    color: #4cb469;
    text-shadow: 0 0 5px #22865e; 
}

.text-command {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}

.text-highlighed-error {
    color: rgb(196, 61, 61);
    text-shadow: 0 0 5px #ba0000; 
}